In [2]:
#importing libraries
import pandas as pd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from plotly import graph_objs as go


from sklearn import svm
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score 
from sklearn.preprocessing import LabelEncoder

import warnings

warnings.filterwarnings("ignore")

In [3]:
data = pd.read_csv('C:/Users/ogidan/Documents/NOUN_MSC/MSC PROJECT/dan_pro/application_data_latest_YYY.csv')

In [4]:
data

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,OCCUPATION_TYPE,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,FLAG_DOCUMENT_17,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,Single / not married,House / apartment,-9461,Labourers,Business Entity Type 3,0.083037,0.262949,0.139376,0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,Married,House / apartment,-16765,Core staff,School,0.311267,0.622246,NaN,0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,Single / not married,House / apartment,-19046,Labourers,Government,NaN,0.555912,0.729567,0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,Civil marriage,House / apartment,-19005,Labourers,Business Entity Type 3,NaN,0.650442,NaN,0,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,Single / not married,House / apartment,-19932,Core staff,Religion,NaN,0.322738,NaN,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1423,450252,0,Cash loans,F,N,Y,0,157500.0,495000.0,25402.5,...,Civil marriage,House / apartment,-11067,NaN,Business Entity Type 3,NaN,0.709557,0.180888,0,0.0
1424,450253,0,Revolving loans,F,N,Y,1,90000.0,135000.0,6750.0,...,Married,With parents,-13151,Sales staff,Trade: type 7,0.376514,0.607567,NaN,0,0.0
1425,450254,0,Revolving loans,F,N,Y,1,135000.0,135000.0,6750.0,...,Married,House / apartment,-14942,Core staff,Trade: type 3,NaN,0.756954,0.515495,0,5.0
1426,450255,0,Cash loans,F,Y,N,0,247500.0,566055.0,18387.0,...,Single / not married,House / apartment,-12912,Labourers,Construction,0.114480,0.585774,0.321735,0,2.0
1427,450256,0,Cash loans,M,N,N,1,202500.0,1314117.0,42520.5,...,Married,Municipal apartment,-14490,Labourers,Business Entity Type 3,0.492256,0.285358,0.365617,0,4.0

In [5]:
#checking dimension of the dataset
data.shape

print('number of Rows:', data.shape[0])
print('number of Columns:', data.shape[1])

number of Rows: 1428
number of Columns: 24

In [6]:
#information about the datasets

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1428 entries, 0 to 1427
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   SK_ID_CURR                  1428 non-null   int64
 1   TARGET                      1428 non-null   int64
 2   NAME_CONTRACT_TYPE          1428 non-null   object
 3   CODE_GENDER                 1428 non-null   object
 4   FLAG_OWN_CAR                1428 non-null   object
 5   FLAG_OWN_REALTY             1428 non-null   object
 6   CNT_CHILDREN                1428 non-null   int64
 7   AMT_INCOME_TOTAL            1428 non-null   float64
 8   AMT_CREDIT                  1428 non-null   float64
 9   AMT_ANNUITY                 1428 non-null   float64
 10  AMT_GOODS_PRICE             1427 non-null   float64
 11  NAME_TYPE_SUITE             1424 non-null   object
 12  NAME_INCOME_TYPE            1428 non-null   object
 13  NAME_EDUCATION_TYPE         1428 non-null   object
 14  NAME_FAMILY_STATUS          1428 non-null   object
 15  NAME_HOUSING_TYPE           1428 non-null   object
 16  DAYS_BIRTH                  1428 non-null   int64
 17  OCCUPATION_TYPE             1008 non-null   object
 18  ORGANIZATION_TYPE           1428 non-null   object
 19  EXT_SOURCE_1                596 non-null    float64
 20  EXT_SOURCE_2                1422 non-null   float64
 21  EXT_SOURCE_3                1133 non-null   float64
 22  FLAG_DOCUMENT_17            1428 non-null   int64
 23  AMT_REQ_CREDIT_BUREAU_YEAR  1227 non-null   float64
dtypes: float64(8), int64(5), object(11)
memory usage: 267.9+ KB

In [7]:
#check null values in the datasets

data.isnull().sum()

SK_ID_CURR                      0
TARGET                          0
NAME_CONTRACT_TYPE              0
CODE_GENDER                     0
FLAG_OWN_CAR                    0
FLAG_OWN_REALTY                 0
CNT_CHILDREN                    0
AMT_INCOME_TOTAL                0
AMT_CREDIT                      0
AMT_ANNUITY                     0
AMT_GOODS_PRICE                 1
NAME_TYPE_SUITE                 4
NAME_INCOME_TYPE                0
NAME_EDUCATION_TYPE             0
NAME_FAMILY_STATUS              0
NAME_HOUSING_TYPE               0
DAYS_BIRTH                      0
OCCUPATION_TYPE               420
ORGANIZATION_TYPE               0
EXT_SOURCE_1                  832
EXT_SOURCE_2                    6
EXT_SOURCE_3                  295
FLAG_DOCUMENT_17                0
AMT_REQ_CREDIT_BUREAU_YEAR    201
dtype: int64

In [8]:
#isplayig the missing values in %
data.isnull().sum()*100/len(data)

SK_ID_CURR                     0.000000
TARGET                         0.000000
NAME_CONTRACT_TYPE             0.000000
CODE_GENDER                    0.000000
FLAG_OWN_CAR                   0.000000
FLAG_OWN_REALTY                0.000000
CNT_CHILDREN                   0.000000
AMT_INCOME_TOTAL               0.000000
AMT_CREDIT                     0.000000
AMT_ANNUITY                    0.000000
AMT_GOODS_PRICE                0.070028
NAME_TYPE_SUITE                0.280112
NAME_INCOME_TYPE               0.000000
NAME_EDUCATION_TYPE            0.000000
NAME_FAMILY_STATUS             0.000000
NAME_HOUSING_TYPE              0.000000
DAYS_BIRTH                     0.000000
OCCUPATION_TYPE               29.411765
ORGANIZATION_TYPE              0.000000
EXT_SOURCE_1                  58.263305
EXT_SOURCE_2                   0.420168
EXT_SOURCE_3                  20.658263
FLAG_DOCUMENT_17               0.000000
AMT_REQ_CREDIT_BUREAU_YEAR    14.075630
dtype: float64

In [9]:
# checking unique values in a certain column numbers() 
data.shape

(1428, 24)

In [10]:
#add new column to the data set and create sub category using numpy
data['EMPLOYMENT_TYPE'] = np.where(data['OCCUPATION_TYPE'].isnull(), 'Unemployed', 'Employed')

In [11]:
data['OCCUPATION_TYPE']

0         Labourers
1        Core staff
2         Labourers
3         Labourers
4        Core staff
           ...
1423            NaN
1424    Sales staff
1425     Core staff
1426      Labourers
1427      Labourers
Name: OCCUPATION_TYPE, Length: 1428, dtype: object

In [12]:
data

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,NAME_HOUSING_TYPE,DAYS_BIRTH,OCCUPATION_TYPE,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,FLAG_DOCUMENT_17,AMT_REQ_CREDIT_BUREAU_YEAR,EMPLOYMENT_TYPE
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,House / apartment,-9461,Labourers,Business Entity Type 3,0.083037,0.262949,0.139376,0,1.0,Employed
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,House / apartment,-16765,Core staff,School,0.311267,0.622246,NaN,0,0.0,Employed
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,House / apartment,-19046,Labourers,Government,NaN,0.555912,0.729567,0,0.0,Employed
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,House / apartment,-19005,Labourers,Business Entity Type 3,NaN,0.650442,NaN,0,NaN,Employed
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,House / apartment,-19932,Core staff,Religion,NaN,0.322738,NaN,0,0.0,Employed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1423,450252,0,Cash loans,F,N,Y,0,157500.0,495000.0,25402.5,...,House / apartment,-11067,NaN,Business Entity Type 3,NaN,0.709557,0.180888,0,0.0,Unemployed
1424,450253,0,Revolving loans,F,N,Y,1,90000.0,135000.0,6750.0,...,With parents,-13151,Sales staff,Trade: type 7,0.376514,0.607567,NaN,0,0.0,Employed
1425,450254,0,Revolving loans,F,N,Y,1,135000.0,135000.0,6750.0,...,House / apartment,-14942,Core staff,Trade: type 3,NaN,0.756954,0.515495,0,5.0,Employed
1426,450255,0,Cash loans,F,Y,N,0,247500.0,566055.0,18387.0,...,House / apartment,-12912,Labourers,Construction,0.114480,0.585774,0.321735,0,2.0,Employed
1427,450256,0,Cash loans,M,N,N,1,202500.0,1314117.0,42520.5,...,Municipal apartment,-14490,Labourers,Business Entity Type 3,0.492256,0.285358,0.365617,0,4.0,Employed

In [13]:
#drop some columns that are not necessary columns

# data = data.drop('EXT_SOURCE_3', axis = 1)

In [14]:
#define 

data.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE',
       'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS',
       'NAME_HOUSING_TYPE', 'DAYS_BIRTH', 'OCCUPATION_TYPE',
       'ORGANIZATION_TYPE', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3',
       'FLAG_DOCUMENT_17', 'AMT_REQ_CREDIT_BUREAU_YEAR', 'EMPLOYMENT_TYPE'],
      dtype='object')

In [15]:
data.isnull().sum()*100/len(data)

SK_ID_CURR                     0.000000
TARGET                         0.000000
NAME_CONTRACT_TYPE             0.000000
CODE_GENDER                    0.000000
FLAG_OWN_CAR                   0.000000
FLAG_OWN_REALTY                0.000000
CNT_CHILDREN                   0.000000
AMT_INCOME_TOTAL               0.000000
AMT_CREDIT                     0.000000
AMT_ANNUITY                    0.000000
AMT_GOODS_PRICE                0.070028
NAME_TYPE_SUITE                0.280112
NAME_INCOME_TYPE               0.000000
NAME_EDUCATION_TYPE            0.000000
NAME_FAMILY_STATUS             0.000000
NAME_HOUSING_TYPE              0.000000
DAYS_BIRTH                     0.000000
OCCUPATION_TYPE               29.411765
ORGANIZATION_TYPE              0.000000
EXT_SOURCE_1                  58.263305
EXT_SOURCE_2                   0.420168
EXT_SOURCE_3                  20.658263
FLAG_DOCUMENT_17               0.000000
AMT_REQ_CREDIT_BUREAU_YEAR    14.075630
EMPLOYMENT_TYPE                0.000000
dtype: float64

In [16]:
#some columns

columns = ['OCCUPATION_TYPE', 'EXT_SOURCE_2',  'AMT_REQ_CREDIT_BUREAU_YEAR',
          'AMT_ANNUITY', 'AMT_GOODS_PRICE','NAME_TYPE_SUITE']

In [17]:
#missing values in percentage

data.isnull().sum()*100/len(data)

SK_ID_CURR                     0.000000
TARGET                         0.000000
NAME_CONTRACT_TYPE             0.000000
CODE_GENDER                    0.000000
FLAG_OWN_CAR                   0.000000
FLAG_OWN_REALTY                0.000000
CNT_CHILDREN                   0.000000
AMT_INCOME_TOTAL               0.000000
AMT_CREDIT                     0.000000
AMT_ANNUITY                    0.000000
AMT_GOODS_PRICE                0.070028
NAME_TYPE_SUITE                0.280112
NAME_INCOME_TYPE               0.000000
NAME_EDUCATION_TYPE            0.000000
NAME_FAMILY_STATUS             0.000000
NAME_HOUSING_TYPE              0.000000
DAYS_BIRTH                     0.000000
OCCUPATION_TYPE               29.411765
ORGANIZATION_TYPE              0.000000
EXT_SOURCE_1                  58.263305
EXT_SOURCE_2                   0.420168
EXT_SOURCE_3                  20.658263
FLAG_DOCUMENT_17               0.000000
AMT_REQ_CREDIT_BUREAU_YEAR    14.075630
EMPLOYMENT_TYPE                0.000000
dtype: float64

In [18]:
#filling missing values with highest occurenece and returning it to the column

data['AMT_REQ_CREDIT_BUREAU_YEAR']= data['AMT_REQ_CREDIT_BUREAU_YEAR'].fillna(data['AMT_REQ_CREDIT_BUREAU_YEAR'].mode()[0])
data['NAME_TYPE_SUITE']= data['NAME_TYPE_SUITE'].fillna(data['NAME_TYPE_SUITE'].mode()[0])
data['AMT_GOODS_PRICE']= data['AMT_GOODS_PRICE'].fillna(data['AMT_GOODS_PRICE'].mode()[0])
data['EXT_SOURCE_2']=data['EXT_SOURCE_2'].fillna(data['EXT_SOURCE_2'].mode()[0])
data['AMT_ANNUITY']=data['AMT_ANNUITY'].fillna(data['AMT_ANNUITY'].mode()[0])
data['CODE_GENDER']=data['CODE_GENDER'].fillna(data['CODE_GENDER'].mode()[0])
data['EXT_SOURCE_1']=data['EXT_SOURCE_1'].fillna(data['EXT_SOURCE_1'].mode()[0])
data['NAME_HOUSING_TYPE']=data['NAME_HOUSING_TYPE'].fillna(data['NAME_HOUSING_TYPE'].mode()[0])
data['EXT_SOURCE_3']=data['EXT_SOURCE_3'].fillna(data['EXT_SOURCE_3'].mode()[0])
data['OCCUPATION_TYPE']=data['OCCUPATION_TYPE'].fillna(data['OCCUPATION_TYPE'].mode()[0])

In [19]:
#lets display random sample
data.sample(5)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,NAME_HOUSING_TYPE,DAYS_BIRTH,OCCUPATION_TYPE,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,FLAG_DOCUMENT_17,AMT_REQ_CREDIT_BUREAU_YEAR,EMPLOYMENT_TYPE
1018,101206,0,Cash loans,F,N,N,0,67500.0,203760.0,10782.0,...,House / apartment,-24235,Labourers,XNA,0.039598,0.552860,0.639708,0,1.0,Unemployed
481,100579,0,Cash loans,M,N,N,2,180000.0,270000.0,29209.5,...,House / apartment,-15953,High skill tech staff,Business Entity Type 2,0.039598,0.701717,0.495666,0,1.0,Employed
972,101150,0,Cash loans,M,Y,Y,0,112500.0,835380.0,33259.5,...,House / apartment,-20077,Labourers,Security,0.039598,0.159679,0.481249,0,1.0,Unemployed
1079,449846,0,Cash loans,F,N,N,0,90000.0,373500.0,18099.0,...,With parents,-9772,Labourers,Other,0.448362,0.541754,0.626304,0,3.0,Unemployed
220,100281,0,Cash loans,F,N,Y,1,112500.0,675000.0,21906.0,...,House / apartment,-17957,Sales staff,Self-employed,0.039598,0.660907,0.622922,0,1.0,Employed

In [20]:
#lets check the datasets info

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1428 entries, 0 to 1427
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   SK_ID_CURR                  1428 non-null   int64
 1   TARGET                      1428 non-null   int64
 2   NAME_CONTRACT_TYPE          1428 non-null   object
 3   CODE_GENDER                 1428 non-null   object
 4   FLAG_OWN_CAR                1428 non-null   object
 5   FLAG_OWN_REALTY             1428 non-null   object
 6   CNT_CHILDREN                1428 non-null   int64
 7   AMT_INCOME_TOTAL            1428 non-null   float64
 8   AMT_CREDIT                  1428 non-null   float64
 9   AMT_ANNUITY                 1428 non-null   float64
 10  AMT_GOODS_PRICE             1428 non-null   float64
 11  NAME_TYPE_SUITE             1428 non-null   object
 12  NAME_INCOME_TYPE            1428 non-null   object
 13  NAME_EDUCATION_TYPE         1428 non-null   object
 14  NAME_FAMILY_STATUS          1428 non-null   object
 15  NAME_HOUSING_TYPE           1428 non-null   object
 16  DAYS_BIRTH                  1428 non-null   int64
 17  OCCUPATION_TYPE             1428 non-null   object
 18  ORGANIZATION_TYPE           1428 non-null   object
 19  EXT_SOURCE_1                1428 non-null   float64
 20  EXT_SOURCE_2                1428 non-null   float64
 21  EXT_SOURCE_3                1428 non-null   float64
 22  FLAG_DOCUMENT_17            1428 non-null   int64
 23  AMT_REQ_CREDIT_BUREAU_YEAR  1428 non-null   float64
 24  EMPLOYMENT_TYPE             1428 non-null   object
dtypes: float64(8), int64(5), object(12)
memory usage: 279.0+ KB

In [21]:
data.isnull().sum()*100/len(data)

SK_ID_CURR                    0.0
TARGET                        0.0
NAME_CONTRACT_TYPE            0.0
CODE_GENDER                   0.0
FLAG_OWN_CAR                  0.0
FLAG_OWN_REALTY               0.0
CNT_CHILDREN                  0.0
AMT_INCOME_TOTAL              0.0
AMT_CREDIT                    0.0
AMT_ANNUITY                   0.0
AMT_GOODS_PRICE               0.0
NAME_TYPE_SUITE               0.0
NAME_INCOME_TYPE              0.0
NAME_EDUCATION_TYPE           0.0
NAME_FAMILY_STATUS            0.0
NAME_HOUSING_TYPE             0.0
DAYS_BIRTH                    0.0
OCCUPATION_TYPE               0.0
ORGANIZATION_TYPE             0.0
EXT_SOURCE_1                  0.0
EXT_SOURCE_2                  0.0
EXT_SOURCE_3                  0.0
FLAG_DOCUMENT_17              0.0
AMT_REQ_CREDIT_BUREAU_YEAR    0.0
EMPLOYMENT_TYPE               0.0
dtype: float64

In [22]:
# data['CODE_GENDER'].unique()  

data['NAME_TYPE_SUITE'].unique()

array(['Unaccompanied', 'Family', 'Spouse, partner', 'Other_B',
       'Children', 'Other_A', 'Group of people'], dtype=object)

In [23]:
# checking unique values in a particular columns

# data['NAME_CONTRACT_TYPE'].unique()
# data['FLAG_OWN_REALTY'].unique()
# data['CODE_GENDER'].unique()
# data['FLAG_OWN_CAR'].unique()
# data['FLAG_OWN_REALTY'].unique()
# data['NAME_TYPE_SUITE'].unique()
# data['NAME_INCOME_TYPE'].unique()
# data['NAME_EDUCATION_TYPE'].unique()
# data['NAME_FAMILY_STATUS'].unique()
# data['NAME_HOUSING_TYPE'].unique()
# data['OCCUPATION_TYPE'].unique()
# data['ORGANIZATION_TYPE'].unique()
# data['EMPLOYMENT_TYPE'].unique()

In [24]:
#handling categorical features/columns   (ML PREFERS WORKING WITH NUMBERS) from catgorical to numeric


data['NAME_CONTRACT_TYPE']=data['NAME_CONTRACT_TYPE'].map({'Cash loans':1,'Revolving loans':2}).astype('int')
data['CODE_GENDER']=data['CODE_GENDER'].map({'M':1,'F':2,'XNA':3}).astype('int')
data['FLAG_OWN_REALTY']=data['FLAG_OWN_REALTY'].map({'Y':1, 'N':2}).astype('int')
data['FLAG_OWN_CAR']=data['FLAG_OWN_CAR'].map({'Y':1,'N':2}).astype('int')
#converting to int and formating to 0 and 1 format for newly created employment column from organization type
data['EMPLOYMENT_TYPE']=data['EMPLOYMENT_TYPE'].map({'Employed':1, 'Unemployed': 2}).astype('int')

#replacing categorical observations
data['ORGANIZATION_TYPE']=data['ORGANIZATION_TYPE'].map({'Business Entity Type 3':1,'Other':2,'Business Entity Type 2':3,'Construction':4,
'Industry: type 11':5,'Transport: type 4':6,'Trade: type 2':7,'Business Entity Type 1':8,'Agriculture':9,'Industry: type 7':10,'Industry: type 9':11,
'Industry: type 2':12,'Mobile':13,'Legal Services':14,'Industry: type 13':15,'Industry: type 8':16,'School':17,'XNA':18,'Self-employed':19,'Housing':20,
'Military':21,'Industry: type 1':22,'University':23,'Postal':24,'Restaurant':25,'Trade: type 3':26,'Insurance':27,'Transport: type 1':28,'Trade: type 1':29,
'Advertising':30,'Trade: type 4':31,'Realtor':32,'Government':33,'Electricity':34,'Transport: type 2':35,'Kindergarten':36,'Services':37,
'Emergency':38,'Transport: type 3':39,'Industry: type 4':40,'Culture':41,'Industry: type 3':42,'Trade: type 6':43,'Industry: type 12':44,'Industry: type 5':45,
'Trade: type 5':46,'Telecom':47,'Industry: type 6':48,'Religion':49,'Medicine':50,'Trade: type 7':51,'Security Ministries':52,'Security':53,
'Police':54,'Hotel':55,'Bank':56,'Industry: type 10':57,'Cleaning':58
                                                        }).astype('int')

data['NAME_TYPE_SUITE']=data['NAME_TYPE_SUITE'].map({'Unaccompanied':1,'Family':2,'Spouse, partner':3,'Children':4, 'Other_A':5,'Other_B':6, 
                                                       'Group of people':7
                                                    }).astype('int')
data['NAME_EDUCATION_TYPE']=data['NAME_EDUCATION_TYPE'].map({'Secondary / secondary special':1, 'Higher education':2,'Incomplete higher':3, 'Lower secondary':4,
                                                       'Academic degree':5}).astype('int')
data['NAME_FAMILY_STATUS']=data['NAME_FAMILY_STATUS'].map({'Single / not married':1, 'Married':2,'Civil marriage':3, 'Widow':4,'Separated':5, 
                                                            'Unknown':6}).astype('int')
data['NAME_HOUSING_TYPE']=data['NAME_HOUSING_TYPE'].map({'House / apartment':1, 'Rented apartment':2,'With parents':3, 'Municipal apartment':4,
                                                       'Office apartment':5, 'Co-op apartment':6 
                                                        }).astype('int')
data['NAME_INCOME_TYPE']=data['NAME_INCOME_TYPE'].map({'Working':1, 'State servant':2,'Commercial associate':3, 'Pensioner':4,'Unemployed':5, 'Student':6, 
                                                      'Businessman':7, 'Maternity leave':8}).astype('int')

In [25]:
data.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,NAME_HOUSING_TYPE,DAYS_BIRTH,OCCUPATION_TYPE,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,FLAG_DOCUMENT_17,AMT_REQ_CREDIT_BUREAU_YEAR,EMPLOYMENT_TYPE
0,100002,1,1,1,2,1,0,202500.0,406597.5,24700.5,...,1,-9461,Labourers,1,0.083037,0.262949,0.139376,0,1.0,1
1,100003,0,1,2,2,2,0,270000.0,1293502.5,35698.5,...,1,-16765,Core staff,17,0.311267,0.622246,0.673830,0,0.0,1
2,100004,0,2,1,1,1,0,67500.0,135000.0,6750.0,...,1,-19046,Labourers,33,0.039598,0.555912,0.729567,0,0.0,1
3,100006,0,1,2,2,1,0,135000.0,312682.5,29686.5,...,1,-19005,Labourers,1,0.039598,0.650442,0.673830,0,0.0,1
4,100007,0,1,1,2,1,0,121500.0,513000.0,21865.5,...,1,-19932,Core staff,49,0.039598,0.322738,0.673830,0,0.0,1

In [26]:
data['OCCUPATION_TYPE'].unique()

array(['Labourers', 'Core staff', 'Cooking staff',
       'Private service staff', 'Drivers', 'Sales staff', 'Managers',
       'Medicine staff', 'Security staff', 'Accountants',
       'High skill tech staff', 'Waiters/barmen staff',
       'Low-skill Labourers', 'Realty agents', 'Cleaning staff',
       'Secretaries', 'IT staff', 'HR staff'], dtype=object)

In [27]:
# checking unique values in a particular columns

# data['NAME_CONTRACT_TYPE'].unique()
# data['FLAG_OWN_REALTY'].unique()
# data['CODE_GENDER'].unique()
# data['FLAG_OWN_CAR'].unique()
# data['FLAG_OWN_REALTY'].unique()
# data['NAME_TYPE_SUITE'].unique()
# data['NAME_INCOME_TYPE'].unique()
# data['NAME_EDUCATION_TYPE'].unique()
# data['NAME_FAMILY_STATUS'].unique()
# data['NAME_HOUSING_TYPE'].unique()
# data['OCCUPATION_TYPE'].unique()
# data['ORGANIZATION_TYPE'].unique()
# data['EMPLOYMENT_TYPE'].unique()

In [28]:
#CONVERTING FEATURE DATATYPES

data['OCCUPATION_TYPE']=data['OCCUPATION_TYPE'].map({'Labourers':1, 'Core staff':2, 'Cooking staff':3,
       'Private service staff':4, 'Drivers':5, 'Sales staff':6, 'Managers':7,
       'Medicine staff':8, 'Security staff':9, 'Accountants':10,'High skill tech staff':11, 'Waiters/barmen staff':12,
       'Low-skill Labourers':13, 'Realty agents':14, 'Cleaning staff':15, 'Secretaries':16, 'IT staff':17, 'HR staff':18}).astype('int')

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1428 entries, 0 to 1427
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   SK_ID_CURR                  1428 non-null   int64
 1   TARGET                      1428 non-null   int64
 2   NAME_CONTRACT_TYPE          1428 non-null   int32
 3   CODE_GENDER                 1428 non-null   int32
 4   FLAG_OWN_CAR                1428 non-null   int32
 5   FLAG_OWN_REALTY             1428 non-null   int32
 6   CNT_CHILDREN                1428 non-null   int64
 7   AMT_INCOME_TOTAL            1428 non-null   float64
 8   AMT_CREDIT                  1428 non-null   float64
 9   AMT_ANNUITY                 1428 non-null   float64
 10  AMT_GOODS_PRICE             1428 non-null   float64
 11  NAME_TYPE_SUITE             1428 non-null   int32
 12  NAME_INCOME_TYPE            1428 non-null   int32
 13  NAME_EDUCATION_TYPE         1428 non-null   int32
 14  NAME_FAMILY_STATUS          1428 non-null   int32
 15  NAME_HOUSING_TYPE           1428 non-null   int32
 16  DAYS_BIRTH                  1428 non-null   int64
 17  OCCUPATION_TYPE             1428 non-null   int32
 18  ORGANIZATION_TYPE           1428 non-null   int32
 19  EXT_SOURCE_1                1428 non-null   float64
 20  EXT_SOURCE_2                1428 non-null   float64
 21  EXT_SOURCE_3                1428 non-null   float64
 22  FLAG_DOCUMENT_17            1428 non-null   int64
 23  AMT_REQ_CREDIT_BUREAU_YEAR  1428 non-null   float64
 24  EMPLOYMENT_TYPE             1428 non-null   int32
dtypes: float64(8), int32(12), int64(5)
memory usage: 212.1 KB

In [30]:
newdata = data.isnull().sum()*100/len(data)

In [31]:
# data['EMPLOYMENT_TYPE'].unique()
# data['NAME_FAMILY_STATUS'].unique()
data['NAME_HOUSING_TYPE'].unique()

array([1, 3, 4, 5, 2, 6])

In [32]:
data.head(10)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,NAME_HOUSING_TYPE,DAYS_BIRTH,OCCUPATION_TYPE,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,FLAG_DOCUMENT_17,AMT_REQ_CREDIT_BUREAU_YEAR,EMPLOYMENT_TYPE
0,100002,1,1,1,2,1,0,202500.0,406597.5,24700.5,...,1,-9461,1,1,0.083037,0.262949,0.139376,0,1.0,1
1,100003,0,1,2,2,2,0,270000.0,1293502.5,35698.5,...,1,-16765,2,17,0.311267,0.622246,0.673830,0,0.0,1
2,100004,0,2,1,1,1,0,67500.0,135000.0,6750.0,...,1,-19046,1,33,0.039598,0.555912,0.729567,0,0.0,1
3,100006,0,1,2,2,1,0,135000.0,312682.5,29686.5,...,1,-19005,1,1,0.039598,0.650442,0.673830,0,0.0,1
4,100007,0,1,1,2,1,0,121500.0,513000.0,21865.5,...,1,-19932,2,49,0.039598,0.322738,0.673830,0,0.0,1
5,100031,1,1,2,2,1,0,112500.0,979992.0,27076.5,...,1,-18724,3,1,0.039598,0.548477,0.190706,0,2.0,1
6,100032,0,1,1,2,1,1,112500.0,327024.0,23827.5,...,1,-15948,1,5,0.039598,0.541124,0.659406,0,0.0,1
7,100033,0,1,1,1,1,0,270000.0,790830.0,57676.5,...,1,-9994,1,21,0.600396,0.685011,0.524496,0,1.0,2
8,100034,0,2,1,2,1,0,90000.0,180000.0,9000.0,...,3,-10341,1,1,0.297914,0.502779,0.673830,0,0.0,1
9,100035,0,1,2,2,1,0,292500.0,665892.0,24592.5,...,1,-15280,1,1,0.039598,0.479987,0.410103,0,5.0,2

In [33]:
data

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,NAME_HOUSING_TYPE,DAYS_BIRTH,OCCUPATION_TYPE,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,FLAG_DOCUMENT_17,AMT_REQ_CREDIT_BUREAU_YEAR,EMPLOYMENT_TYPE
0,100002,1,1,1,2,1,0,202500.0,406597.5,24700.5,...,1,-9461,1,1,0.083037,0.262949,0.139376,0,1.0,1
1,100003,0,1,2,2,2,0,270000.0,1293502.5,35698.5,...,1,-16765,2,17,0.311267,0.622246,0.673830,0,0.0,1
2,100004,0,2,1,1,1,0,67500.0,135000.0,6750.0,...,1,-19046,1,33,0.039598,0.555912,0.729567,0,0.0,1
3,100006,0,1,2,2,1,0,135000.0,312682.5,29686.5,...,1,-19005,1,1,0.039598,0.650442,0.673830,0,0.0,1
4,100007,0,1,1,2,1,0,121500.0,513000.0,21865.5,...,1,-19932,2,49,0.039598,0.322738,0.673830,0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1423,450252,0,1,2,2,1,0,157500.0,495000.0,25402.5,...,1,-11067,1,1,0.039598,0.709557,0.180888,0,0.0,2
1424,450253,0,2,2,2,1,1,90000.0,135000.0,6750.0,...,3,-13151,6,51,0.376514,0.607567,0.673830,0,0.0,1
1425,450254,0,2,2,2,1,1,135000.0,135000.0,6750.0,...,1,-14942,2,26,0.039598,0.756954,0.515495,0,5.0,1
1426,450255,0,1,2,1,2,0,247500.0,566055.0,18387.0,...,1,-12912,1,4,0.114480,0.585774,0.321735,0,2.0,1
1427,450256,0,1,1,2,2,1,202500.0,1314117.0,42520.5,...,4,-14490,1,1,0.492256,0.285358,0.365617,0,4.0,1

## Store Feature Matrix in X And Response(Target) in Vector y

In [34]:
X = data.drop('TARGET', axis = 1)

In [35]:
y =data['TARGET']

In [36]:
y

0       1
1       0
2       0
3       0
4       0
       ..
1423    0
1424    0
1425    0
1426    0
1427    0
Name: TARGET, Length: 1428, dtype: int64

In [37]:
data.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,NAME_HOUSING_TYPE,DAYS_BIRTH,OCCUPATION_TYPE,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,FLAG_DOCUMENT_17,AMT_REQ_CREDIT_BUREAU_YEAR,EMPLOYMENT_TYPE
0,100002,1,1,1,2,1,0,202500.0,406597.5,24700.5,...,1,-9461,1,1,0.083037,0.262949,0.139376,0,1.0,1
1,100003,0,1,2,2,2,0,270000.0,1293502.5,35698.5,...,1,-16765,2,17,0.311267,0.622246,0.673830,0,0.0,1
2,100004,0,2,1,1,1,0,67500.0,135000.0,6750.0,...,1,-19046,1,33,0.039598,0.555912,0.729567,0,0.0,1
3,100006,0,1,2,2,1,0,135000.0,312682.5,29686.5,...,1,-19005,1,1,0.039598,0.650442,0.673830,0,0.0,1
4,100007,0,1,1,2,1,0,121500.0,513000.0,21865.5,...,1,-19932,2,49,0.039598,0.322738,0.673830,0,0.0,1

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1428 entries, 0 to 1427
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   SK_ID_CURR                  1428 non-null   int64
 1   TARGET                      1428 non-null   int64
 2   NAME_CONTRACT_TYPE          1428 non-null   int32
 3   CODE_GENDER                 1428 non-null   int32
 4   FLAG_OWN_CAR                1428 non-null   int32
 5   FLAG_OWN_REALTY             1428 non-null   int32
 6   CNT_CHILDREN                1428 non-null   int64
 7   AMT_INCOME_TOTAL            1428 non-null   float64
 8   AMT_CREDIT                  1428 non-null   float64
 9   AMT_ANNUITY                 1428 non-null   float64
 10  AMT_GOODS_PRICE             1428 non-null   float64
 11  NAME_TYPE_SUITE             1428 non-null   int32
 12  NAME_INCOME_TYPE            1428 non-null   int32
 13  NAME_EDUCATION_TYPE         1428 non-null   int32
 14  NAME_FAMILY_STATUS          1428 non-null   int32
 15  NAME_HOUSING_TYPE           1428 non-null   int32
 16  DAYS_BIRTH                  1428 non-null   int64
 17  OCCUPATION_TYPE             1428 non-null   int32
 18  ORGANIZATION_TYPE           1428 non-null   int32
 19  EXT_SOURCE_1                1428 non-null   float64
 20  EXT_SOURCE_2                1428 non-null   float64
 21  EXT_SOURCE_3                1428 non-null   float64
 22  FLAG_DOCUMENT_17            1428 non-null   int64
 23  AMT_REQ_CREDIT_BUREAU_YEAR  1428 non-null   float64
 24  EMPLOYMENT_TYPE             1428 non-null   int32
dtypes: float64(8), int32(12), int64(5)
memory usage: 212.1 KB

## CHECKING THE DESCRIPTION OF DATASET

## =======================================

#drop previous target
## Store Feature Matrix in X And Response(Target) in Vector y

## Training Proper
### after handling categorical values by changing them to numerical values that can be understand by machiine learning

## feature scaling 

**Feature scaling is essential in ML in order for some of the columns(features) with high value dominating(especially when calculating distances) the training, so there is need for all the values of the columns(features) to be in same range.**

**NB:** - any algorithmn that is not distnce-based is not affected by feature scaling

In [94]:
#special features/fieldnames

cols =['AMT_INCOME_TOTAL', 'AMT_CREDIT','AMT_ANNUITY', 'AMT_GOODS_PRICE','EXT_SOURCE_1','EXT_SOURCE_2','EMPLOYMENT_TYPE']

In [95]:
#### to enable all featurees be in same range scale

from  sklearn.preprocessing import StandardScaler
st = StandardScaler()
X[cols] = st.fit_transform(X[cols])

In [96]:
X.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,NAME_HOUSING_TYPE,DAYS_BIRTH,OCCUPATION_TYPE,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,FLAG_DOCUMENT_17,AMT_REQ_CREDIT_BUREAU_YEAR,EMPLOYMENT_TYPE
0,100002,1,1,2,1,0,0.434475,-0.479796,-0.166648,-0.513085,...,1,-9461,1,1,-0.555467,-1.279754,0.139376,0,1.0,-0.645497
1,100003,1,2,2,2,0,1.217608,1.846198,0.613615,1.701627,...,1,-16765,2,17,0.317497,0.579999,0.673830,0,0.0,-0.645497
2,100004,2,1,1,1,0,-1.131792,-1.192087,-1.440162,-1.127572,...,1,-19046,1,33,-0.721619,0.236650,0.729567,0,0.0,-0.645497
3,100006,1,2,2,1,0,-0.348659,-0.726097,0.187088,-0.666707,...,1,-19005,1,1,-0.721619,0.725944,0.673830,0,0.0,-0.645497
4,100007,1,1,2,1,0,-0.505286,-0.200745,-0.367779,-0.052220,...,1,-19932,2,49,-0.721619,-0.970277,0.673830,0,0.0,-0.645497

In [42]:
X

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,NAME_HOUSING_TYPE,DAYS_BIRTH,OCCUPATION_TYPE,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,FLAG_DOCUMENT_17,AMT_REQ_CREDIT_BUREAU_YEAR,EMPLOYMENT_TYPE
0,100002,1,1,2,1,0,0.434475,-0.479796,-0.166648,-0.513085,...,1,-9461,1,1,-0.555467,-1.279754,0.139376,0,1.0,1
1,100003,1,2,2,2,0,1.217608,1.846198,0.613615,1.701627,...,1,-16765,2,17,0.317497,0.579999,0.673830,0,0.0,1
2,100004,2,1,1,1,0,-1.131792,-1.192087,-1.440162,-1.127572,...,1,-19046,1,33,-0.721619,0.236650,0.729567,0,0.0,1
3,100006,1,2,2,1,0,-0.348659,-0.726097,0.187088,-0.666707,...,1,-19005,1,1,-0.721619,0.725944,0.673830,0,0.0,1
4,100007,1,1,2,1,0,-0.505286,-0.200745,-0.367779,-0.052220,...,1,-19932,2,49,-0.721619,-0.970277,0.673830,0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1423,450252,1,2,2,1,0,-0.087614,-0.247952,-0.116844,-0.103427,...,1,-11067,1,1,-0.721619,1.031929,0.180888,0,0.0,2
1424,450253,2,2,2,1,1,-0.870748,-1.192087,-1.440162,-1.127572,...,3,-13151,6,51,0.567061,0.504021,0.673830,0,0.0,1
1425,450254,2,2,2,1,1,-0.348659,-1.192087,-1.440162,-1.127572,...,1,-14942,2,26,-0.721619,1.277259,0.515495,0,5.0,1
1426,450255,1,2,1,2,0,0.956564,-0.061604,-0.614565,-0.167437,...,1,-12912,1,4,-0.435201,0.391217,0.321735,0,2.0,1
1427,450256,1,1,2,2,1,0.434475,1.900261,1.097608,1.752835,...,4,-14490,1,1,1.009764,-1.163761,0.365617,0,4.0,1

In [43]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1428 entries, 0 to 1427
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   SK_ID_CURR                  1428 non-null   int64
 1   NAME_CONTRACT_TYPE          1428 non-null   int32
 2   CODE_GENDER                 1428 non-null   int32
 3   FLAG_OWN_CAR                1428 non-null   int32
 4   FLAG_OWN_REALTY             1428 non-null   int32
 5   CNT_CHILDREN                1428 non-null   int64
 6   AMT_INCOME_TOTAL            1428 non-null   float64
 7   AMT_CREDIT                  1428 non-null   float64
 8   AMT_ANNUITY                 1428 non-null   float64
 9   AMT_GOODS_PRICE             1428 non-null   float64
 10  NAME_TYPE_SUITE             1428 non-null   int32
 11  NAME_INCOME_TYPE            1428 non-null   int32
 12  NAME_EDUCATION_TYPE         1428 non-null   int32
 13  NAME_FAMILY_STATUS          1428 non-null   int32
 14  NAME_HOUSING_TYPE           1428 non-null   int32
 15  DAYS_BIRTH                  1428 non-null   int64
 16  OCCUPATION_TYPE             1428 non-null   int32
 17  ORGANIZATION_TYPE           1428 non-null   int32
 18  EXT_SOURCE_1                1428 non-null   float64
 19  EXT_SOURCE_2                1428 non-null   float64
 20  EXT_SOURCE_3                1428 non-null   float64
 21  FLAG_DOCUMENT_17            1428 non-null   int64
 22  AMT_REQ_CREDIT_BUREAU_YEAR  1428 non-null   float64
 23  EMPLOYMENT_TYPE             1428 non-null   int32
dtypes: float64(8), int32(12), int64(4)
memory usage: 200.9 KB

## performing splitting datasets into training set and Test set and Applying k-folding cross validation

In [44]:
#training starts from here
#importing some import sklearn artillery

from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
import numpy as np

In [45]:
# pip install -U scikit-learn

In [46]:
#create a dictionary
model_df = {}

#create a function
def model_val(model,X,y):
    X_train, X_test,y_train,y_test=train_test_split(X,y,
                                                    test_size =0.20,
                                                    random_state =42)
    model.fit(X_train,y_train)
    y_pred=model.predict(X_test)
    print(f"(model) accuracy is {accuracy_score(y_test,y_pred)}")

    score = cross_val_score(model, X,y,cv=5)  #cv 5 fold cross validation
    print(f"{model} Avg cross validation score is {np.mean(score)}")
    model_df[model] = round(np.mean(score)*100,2)

In [47]:
data.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,NAME_HOUSING_TYPE,DAYS_BIRTH,OCCUPATION_TYPE,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,FLAG_DOCUMENT_17,AMT_REQ_CREDIT_BUREAU_YEAR,EMPLOYMENT_TYPE
0,100002,1,1,1,2,1,0,202500.0,406597.5,24700.5,...,1,-9461,1,1,0.083037,0.262949,0.139376,0,1.0,1
1,100003,0,1,2,2,2,0,270000.0,1293502.5,35698.5,...,1,-16765,2,17,0.311267,0.622246,0.673830,0,0.0,1
2,100004,0,2,1,1,1,0,67500.0,135000.0,6750.0,...,1,-19046,1,33,0.039598,0.555912,0.729567,0,0.0,1
3,100006,0,1,2,2,1,0,135000.0,312682.5,29686.5,...,1,-19005,1,1,0.039598,0.650442,0.673830,0,0.0,1
4,100007,0,1,1,2,1,0,121500.0,513000.0,21865.5,...,1,-19932,2,49,0.039598,0.322738,0.673830,0,0.0,1

In [93]:
model_df

{RandomForestClassifier(): 89.91}

## 1. Decision Tree Classifier

In [49]:
# from sklearn.tree import DecisionTreeClassifier
# model = DecisionTreeClassifier()
# model_val(model,X,y)

## 2. Random Forest Classifier

In [50]:
from sklearn.ensemble import RandomForestClassifier
model =RandomForestClassifier()
model_val(model,X,y)

(model) accuracy is 0.9335664335664335
RandomForestClassifier() Avg cross validation score is 0.8991142191142192

## 3. Gradient Boosting Classifier

In [51]:
# from sklearn.ensemble import GradientBoostingClassifier
# model = GradientBoostingClassifier()
# model_val(model,X,y)

 ## 4. Logistic Regression

In [52]:
# from sklearn.linear_model import LogisticRegression
# #creating a logistics instance
# model = LogisticRegression()
# model_val(model,X,y)

## 5. SVC

In [53]:
# from sklearn import svm
# model = svm.SVC() 
# model_val(model,X,y)

## Hyperparameter Tunning the hyper-parameters of an estimator

In [54]:
from sklearn.model_selection import RandomizedSearchCV

### 1.0 logistics Regression

In [55]:
# log_reg_grid ={"C":np.logspace(-4, 4, 20), "solver":['liblinear']}

In [56]:
# rs_log_reg = RandomizedSearchCV(LogisticRegression(),
#                    param_distributions=log_reg_grid, 
#                     n_iter =20, cv =5, verbose =True)

In [57]:
#training using fit methods, the dependent and independent 
# rs_log_reg.fit(X,y)

In [58]:
# rs_log_reg.best_score_

In [59]:
# rs_log_reg.best_params_

### 2.0 SVC

In [60]:
# svc_grid = {"C":[0,24,0.50,0.75,1],"kernel":["linear"]}

In [61]:
# rs_svc = RandomizedSearchCV(svm.SVC(),param_distributions = svc_grid, 
#                    cv=5, n_iter = 20, verbose =True)

In [62]:
#dependent X and independent variable y
# rs_svc.fit(X,y)

In [63]:
# rs_svc.best_score_

In [64]:
# rs_svc.best_params_

### 3.0 Random Forest Classifier

In [65]:
RandomForestClassifier()

RandomForestClassifier()

In [89]:
#creating a dictionary

rf_grid = {'n_estimators': np.arange(10,1000, 10),
           'max_features':['auto','sqrt'],
            'max_depth': [None, 3,5,10,20,30],
            'min_samples_split': [2,5, 20, 100, 30],
           'min_samples_leaf': [2,5, 22,10, 9]

         }

In [90]:
rs_rf = RandomizedSearchCV(RandomForestClassifier(),
                    param_distributions = rf_grid, 
                   cv=5, n_iter = 20, verbose =True)

In [91]:
# dependent X and independent variable y
rs_rf.fit(X,y)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

RandomizedSearchCV(cv=5, estimator=RandomForestClassifier(), n_iter=20,
                   param_distributions={'max_depth': [None, 3, 5, 10, 20, 30],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [2, 5, 22, 10, 9],
                                        'min_samples_split': [2, 5, 20, 100,
                                                              30],
                                        'n_estimators': array([ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100, 110, 120, 130,
       140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260,
       270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390,
       400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500, 510, 520,
       530, 540, 550, 560, 570, 580, 590, 600, 610, 620, 630, 640, 650,
       660, 670, 680, 690, 700, 710, 720, 730, 740, 750, 760, 770, 780,
       790, 800, 810, 820, 830, 840, 850, 860, 870, 880, 890, 900, 910,
       920, 930, 940, 950, 960, 970, 980, 990])},
                   verbose=True)

In [92]:
#finding best score
rs_rf.best_score_

0.9236707152496626

In [70]:
#finding best parameter
rs_rf.best_params_

{'n_estimators': 800,
 'min_samples_split': 5,
 'min_samples_leaf': 5,
 'max_features': 'sqrt',
 'max_depth': 10}

### 4.0 Decision Tree Classifier

In [71]:
DecisionTreeClassifier()

DecisionTreeClassifier()

In [72]:
# creating dictionary
dtc_grid = { 'max_depth': [3, 5, 10],
            'min_samples_split': [2, 5, 10]
           }

In [73]:
# rs_dtc = RandomizedSearchCV(DecisionTreeClassifier(),
#                     param_distributions = dtc_grid, 
#                    cv=5, n_iter = 20, verbose =True)

In [74]:
# dependent X and independent variable y
# rs_dtc.fit(X,y)

In [75]:
#finding best score
# rs_dtc.best_score_

In [76]:
#finding best parameter
# rs_dtc.best_params_

### Save The Model

    # logisticRegression score Before Hyperparameter Tuning: 0.919
    # logisticRegression score After Hyperparameter Tuning: 0.919
    
    # ......................................................
    
    # RandomForestClassifier score Before Hyperparameter Tuning: 0.919
    # RandomForestClassifier score After Hyperparameter Tuning: 0.923
    
    # ......................................................
    
    # DecisionTreeClassifier score Before Hyperparameter Tuning: 0.852
    # DecisionTreeClassifier score After Hyperparameter  Tuniing: 0.828

In [77]:
#using best algorithmn

X = data.drop('TARGET', axis = 1)
y =data['TARGET']

In [78]:
#creating instance of the 

rf  = RandomForestClassifier(n_estimators = 960,
                             min_samples_split =2,
                             min_samples_leaf=9,
                             max_features= 'sqrt',
                             max_depth =20)

In [79]:
#test the algorithmn on the entire datasets
rf.fit(X,y)

RandomForestClassifier(max_depth=20, min_samples_leaf=9, n_estimators=960)

In [80]:
import joblib

In [81]:
joblib.dump(rf, 'TARGET_STATUS_PREDICT')

['TARGET_STATUS_PREDICT']

In [82]:
model = joblib.load('TARGET_STATUS_PREDICT')

In [113]:
import pandas as pd
df = pd.DataFrame({

"SK_ID_CURR":1,
"NAME_CONTRACT_TYPE":0,
"CODE_GENDER":1,
"FLAG_OWN_CAR":1,
"FLAG_OWN_REALTY":2,
"CNT_CHILDREN":0,
"AMT_INCOME_TOTAL":14900,
"AMT_CREDIT":406597.5,
"AMT_ANNUITY":6700,
"AMT_GOODS_PRICE":1.600873,
"NAME_TYPE_SUITE":3,
"NAME_INCOME_TYPE":2,
"NAME_EDUCATION_TYPE":1,
"NAME_FAMILY_STATUS":2,
"NAME_HOUSING_TYPE":1,
"DAYS_BIRTH":-9461,
"OCCUPATION_TYPE":0,
"ORGANIZATION_TYPE":43,
"EXT_SOURCE_1":13000,
"EXT_SOURCE_2":0,
"EXT_SOURCE_3":139000,
"FLAG_DOCUMENT_17":0,
"AMT_REQ_CREDIT_BUREAU_YEAR":1,
"EMPLOYMENT_TYPE":2
    }, index = [0])

In [114]:
df

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,NAME_HOUSING_TYPE,DAYS_BIRTH,OCCUPATION_TYPE,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,FLAG_DOCUMENT_17,AMT_REQ_CREDIT_BUREAU_YEAR,EMPLOYMENT_TYPE
0,1,0,1,1,2,0,14900,406597.5,6700,1.600873,...,1,-9461,0,43,13000,0,139000,0,1,2

In [117]:
result = model.predict(df)

In [118]:
if result ==1:
    print("CRG worthy")
else:
    print("Is not CRG worthy")

Is not CRG worthy

## GUI  using Django